{% extends 'base.html' %}
{% block head_title %}Contact{% endblock %}

{% load staticfiles %}

{% block left_frame %}
<img class="right-image" src="{% static 'images/DGS_jap.png' %}" alt="tomato" />
{% endblock %}

{% block content %}
	<h1>Contact DGS</h1>

	<p>Email : <a href="mailto:info@dadgumsalsa.com">info@dadgumsalsa.com</a></p>
	<p>Twitter : <a href="http://twitter.com/dadgumsalsa">@dadgumsalsa</a></p>
	<p>Facebook : <a href="http://www.facebook.com/dadgumsalsa">Dad Gum Salsa</a></p>
{% endblock %}
